@mixin md {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin mdlg {
  @media (min-width: #{$medium-large}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$large}) {
    @content;
  }
}
// Custom breakpoint
@mixin custom($screen) {
  @media (min-width: $screen+'px') {
     @content;
  }
}

.location-img-dropdown {
  max-height: 0;
  overflow: hidden;
  background-color: rgba(55, 55, 55, 1);
  transition-property: max-height, outline-color;
  transition-duration: .7s;
  transition-delay: .7s; // controlls the the delay when not hovering on image
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  
  p.location-img-description {
    color: $white;
    font-family: $sans-serif;
    margin: 20px 20px 20px 30px;
    padding-right: 20px;
    font-size: 14px;
    @include md {
      font-size: 15px;
      line-height: 1.3;
      border-right: solid 1px #fff;
    }
  }
}

.location-article-img {
  width: 100%;
  box-sizing: border-box;
  max-width: 600px;
  outline: solid 2px;
  overflow: hidden;
  margin-bottom: 10px; //does not effect content in dropdown
  outline-color: rgba(55, 55, 55, 0);
  transition-property: outline-color;
  transition-duration: .3s;
  transition-delay: 0s;
  background-color: rgba(55, 55, 55, 1);
  cursor: zoom-in;
}

.location-article-img:hover .location-img-dropdown {
  height: auto;
  max-height: 170px;
  visibility: visible;
  transition-property: max-height, outline;
  transition-duration: .7s;
  transition-delay: 0s;
}

.location-article-img:hover {
  width: 100%;
  outline: solid 2px;
  background-color: rgba(55, 55, 55, 1);
  outline-color: rgba(55, 55, 55, 1);
  transition-property: outline-color;
  transition-duration: .3s;
  transition-delay: 0s;
}
