@mixin md {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin mdlg {
  @media (min-width: #{$medium-large}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$large}) {
    @content;
  }
}
// Custom breakpoint
@mixin custom($screen) {
  @media (min-width: $screen+'px') {
     @content;
  }
}

.location-img-dropdown {
  width: 100%;
  max-height: 270px;
  overflow: hidden;
  background-color: $white;
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  transition: max-height 700ms ease 300ms;
  @include md {
    max-height: 0;
  }
  p.location-img-description {
    font-family: $sans-serif;
    margin: 15px;
    font-size: 14px;
    @include md {
      font-size: 15px;
      line-height: 1.3;
      margin: 20px;
    }
  }
  .btn-wrap {
    background-color: #e7e7e7;
    padding: 6px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include custom(420) {
      flex-direction: row;
      justify-content: space-between;
    }
    p {
      font-family: $sans-serif;
      color: #4d4d4d;
      font-size: 11px;
      margin: 0px 0px 5px 0px;
      @include custom(340) {
        font-size: 12px;
      }      
      @include custom(420) {
        margin: 0px;
        font-size: 12px;
      }
      @include custom(475) {
        font-size: 14px;
      }
    }
  }
}

.location-article-img {
  width: 100%;
  box-sizing: border-box;
  max-width: 600px;
  overflow: hidden;
  margin-bottom: 10px; //does not effect content in dropdown
  cursor: zoom-in;
  background-color: $white;
  border: 6px solid $white;
  border-radius: 3px;
  transition: box-shadow 700ms ease 300ms;
  box-shadow: 1px 2px 12.61px 0.39px rgba(7, 8, 17, 0.35);
    @include md {
      box-shadow: none;
    }
}

.location-article-img:hover .location-img-dropdown {
  height: auto;
  max-height: 270px;
  visibility: visible;
  transition: max-height 700ms ease 300ms;
}

.location-article-img:hover {
  width: 100%;
  box-shadow: 1px 2px 12.61px 0.39px rgba(7, 8, 17, 0.35);
  transition: box-shadow 400ms ease 0ms;
}

