@mixin md {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin mdlg {
  @media (min-width: #{$medium-large}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$large}) {
    @content;
  }
}
// Custom breakpoint
@mixin custom($screen) {
  @media (min-width: $screen+'px') {
     @content;
  }
}
/* Shopping Cart Toggle * * */
//this is the iframe only, other toggle options are found in partials/buy-btn.html
.shopify-buy-frame--toggle.is-sticky {
  top: 113px !important;
  right: 104px !important;
  z-index: 1 !important; //trying to place under the navbar
  @include md {
    top: 23px !important;
    right: 20px !important;
    z-index: 99 !important;
  }
}
/* Buy Button * * */
//this targets div wrapping the iframe of the buy-btn
#buy-btn-container :first-child {
  /*max-width: none !important;*/
}
