<div id="buybtn{{btn-id}}"></div>
    <script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'lifeinhi.myshopify.com',
          storefrontAccessToken: '3d9aec51fb94d7e7f91388c19108ea62',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: ["{{shop-id}}"],
            node: document.getElementById("buybtn{{btn-id}}"),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
  "product": {
    "buttonDestination": "modal",
    "variantId": "all",
    "width": "81px",
    "contents": { // These are all false becasues we are only interested in showing the button. These all show in the modal.
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "options": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "Buy Print"
    },
    "styles": {
      "product": {
        "min-width": "auto !important",
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#777777",
        "font-family": "Lato, sans-serif",
        "font-size": "14px",
        "margin-top": "-20px !important", //clears 20px margin on btn
        "margin-right": "0px !important",
        "padding": "6px 10px",
        "@media (min-width: 640px)": {
          "font-size": "14px !important" //This effects the add to cart button in the modal but not the "buy this print" button
        },
        ":hover": {
          "background-color": "#919191"
        },
        ":focus": {
          "background-color": "#919191"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Lato, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Lato, sans-serif"
      },
      "description": {
        "font-size": "16px",
        "font-family": "Lato, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Lato, sans-serif",
        "font-weight": "normal"
      },
      "compareAt": {
        "font-family": "Lato, sans-serif",
        "font-weight": "normal",
        "font-size": "12px"
      }
    },
    "googleFonts": [
      "Lato",
      "Lato",
      "Lato",
      "Lato",
      "Lato",
      "Lato"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping and discount codes will be added at checkout.",
      "empty": "Your cart is currently empty."
    },
    "popup":false, // This allows checkout page to load in current tab and not a popuo window
    "styles": {
      "cart": {
        "background-color": "#fdfdfd"
      },
      "button": {
        "background-color": "#f37553",
        "font-family": "Lato, sans-serif",
        "font-weight": "bold",
        ":hover": {
          "background-color": "#db694b"
        },
        ":focus": {
          "background-color": "#db694b"
        }
      },
      "title": {
        "color": "#474747"
      },
      "footer": {
        "background-color": "#fdfdfd"
      },
      "header": {
        "color": "#474747"
      },
      "lineItems": {
        "color": "#474747"
      },
      "subtotalText": {
        "color": "#474747"
      },
      "subtotal": {
        "color": "#474747"
      },
      "notice": {
        "color": "#474747"
      },
      "currency": {
        "color": "#474747"
      },
      "close": {
        ":hover": {
          "color": "#474747"
        },
        "color": "#474747"
      },
      "emptyCart": {
        "color": "#474747"
      }
    },
    "googleFonts": [
      "Lato"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#f37553",
        "font-family": "Lato, sans-serif",
        ":hover": {
          "background-color": "#db694b"
        },
        ":focus": {
          "background-color": "#db694b"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Lato, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Lato, sans-serif",
        "font-size": "28px"
      },
      "description": {
        "font-size": "16px",
        "font-family": "Lato, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Lato, sans-serif",
        "font-size": "20px",
        "font-weight": "normal"
      },
      "compareAt": {
        "font-size": "17px",
        "font-family": "Lato, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Lato",
      "Lato",
      "Lato",
      "Lato",
      "Lato",
      "Lato"
    ]
  },
  "toggle": {
    "styles": {
      "wrapper" : {
        "border" : "1px solid blue",
      },
      "toggle": {
        "font-family": "Lato, sans-serif",
        "background-color": "#f37553",
        "border-radius": "0px 0px 7px 7px",
        ":hover": {
          "background-color": "#db694b"
        },
        ":focus": {
          "background-color": "#db694b"
        },
        "font-weight": "bold",
        "width" : "46px",
        "height" : "47px",
        "padding" : "5px 10px",
        "display" : "flex",
        "flex-direction" : "column",
        "align-items" : "center",
        "justify-content" : "space-between"
      },
      "count" : {
        "font-size" : "14px;",
        "margin-bottom" : "0px",
        "order" : "2",
      }
    },
    "googleFonts": [
      "Lato"
    ]
  },
  "modal": {
    "styles": {
      "modal": {
        "background-color": "#fdfdfd"
      }
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Lato, sans-serif"
      },
      "select": {
        "font-family": "Lato, sans-serif"
      }
    },
    "googleFonts": [
      "Lato",
      "Lato"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#474747"
      },
      "title": {
        "color": "#474747"
      },
      "price": {
        "color": "#474747"
      },
      "quantity": {
        "color": "#474747"
      },
      "quantityIncrement": {
        "color": "#474747",
        "border-color": "#474747"
      },
      "quantityDecrement": {
        "color": "#474747",
        "border-color": "#474747"
      },
      "quantityInput": {
        "color": "#474747",
        "border-color": "#474747"
      }
    }
  }
}
          });
        });
      }
    })();
    /*]]>*/
    </script>