      <article class="cell medium-5 cell-block-y location-info-container">
        <h1 class="location">{{title}}</h1>
        <p class="location-overview">{{location-overview-paragraph}}</p>
        {{#each body-content}}
          
          {{#if buy-image}}
        <div class="location-article-img">
          <img class="location-img" data-open="buybtn{{btn-id}}" src="{{buy-image}}" alt="{{img-alt}}">
          <div class="location-img-dropdown">
            <p class="location-img-description">{{img-caption}}</p>
            <div class="btn-wrap">
              <p>Wouldn't this look great on your wall?</p>
              <div id="buy-btn-container">{{> buy-btn id=btn-id shop-id=shop-id }}</div>
            </div>
          </div>
        </div>   
          {{/if}}
          
          {{#if content-paragraph}}
        <p>{{content-paragraph}}</p>
          {{/if}}
     
        {{/each}}

          {{#if tips}}
        <div class="travel-tip-container">
          <h3 class="location-sub h-highlight">How to get there:</h3>
          <img class="location-highlight-icon" src="{{root}}assets/img/how-to-get-there.png" alt="map icon">
          <p class="p-highlight">{{content-how}}</p>
          <h3 class="location-sub h-highlight">Best time to go:</h3>
          <img class="location-highlight-icon" src="{{root}}assets/img/best-time.png" alt="icon of calander and clock">
          <p class="p-highlight">{{content-when}}</p>
          <h3 class="location-sub travel-tip">Travel Tips:</h3>
          <p class="tip">Sunscreen is a must, but please be sure to use Sunscreen that is <a href="" class="plink">reef safe</a>. Hawaii is soon to pass a bill requiring sunscreens to be reef safe, but until then it is important especially at locations like Molokini to do what one can to protect these fragile environments.</p>
          <p class="tip">Bring an underwater camera, and purchase Melatonin or nausea wrist bands if prone to seasickness.</p>
        </div>
          {{\if}}
        {{> body}}
      </article>
    </div>
  </div>
</div>
