<article class="cell medium-5 cell-block-y location-info-container">
        <h1 class="location">{{title}}</h1>
        <p class="location-overview">{{location-overview-paragraph}}</p>
        {{#datwrap}}
          {{#each buyable-image}}
            <div class="location-article-img">
              <img class="location-img" src="{{buy-image}}" alt="">
              <div class="location-img-dropdown grid-x">
                <div class="cell small-12 medium-8">
                  <p class="location-img-description">{{img-caption}}</p>
                </div>
                <div class="buy-btn-container">
                  {{> buy-btn}}
                </div>
              </div>
            </div>
          {{/each}}
          {{#each paragraph}}
          <p>{{content-paragraph}}</p>
          {{/each}}
        {{/datwrap}}
        {{> body}}
      </article>
    </div>
  </div>
</div>