<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibG9uZWdyYWluZ2VyIiwiYSI6ImNpeWYybzdiejAwMmkyd3A4ajRzZWhxbmkifQ.YGpcRNhIqZtH3Q71a-UVKw';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/lonegrainger/cjgv8hrfl001i2rqhmd7l32qu', // old style 'mapbox://styles/lonegrainger/cjgb8kfhn2idm2rrtq592p5sz',
    center: [{{center-coordinates}}], //center coordinates are being pulled from CMS on build
    zoom: {{zoom-level}},
    maxZoom: 17,
    minZoom: 5.77
    });


// Enables fullscreen mode
map.addControl(new mapboxgl.FullscreenControl(), 'bottom-right');

map.resize();


// This sections adds toggle menu to hide/show layers

var toggleableLayerIds = [ 'beaches', 'snorkeling', 'sights' ];

for (var i = 0; i < toggleableLayerIds.length; i++) {
    var id = toggleableLayerIds[i];

    var link = document.createElement('a');
    link.href = '#';
    link.className = 'active';
    link.textContent = id;

    link.onclick = function (e) {
        var clickedLayer = this.textContent;
        e.preventDefault();
        e.stopPropagation();

        var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

        if (visibility === 'visible') {
            map.setLayoutProperty(clickedLayer, 'visibility', 'none');
            this.className = '';
        } else {
            this.className = 'active';
            map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
        }
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
}

// This sections activates the popup description box

    map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: ['beaches', 'snorkeling', 'sights'] // add the name of the layers
  });

  if (!features.length) {
    return;
  }

  var feature = features[0];

  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h3>' + feature.properties.title + '</h3><img src="{{root}}assets/img/map-popup/' + feature.properties.img + '">' + '<p class="popup-description">' + feature.properties.description + '</p><p><a href="' + feature.properties.link + '">Explore this location</a></p></p>' + feature.properties.ttcool + '</p>')
    .setLngLat(feature.geometry.coordinates)
    .addTo(map);

// Center the map on the coordinates of any clicked symbol from the layer.
    map.on('click', 'beaches', function (e) {
        map.flyTo({center: e.features[0].geometry.coordinates});
    });

  map.on('click', 'snorkeling', function (e) {
        map.flyTo({center: e.features[0].geometry.coordinates});
    });

// Change the cursor to a pointer when the it enters a feature in the layer.
    map.on('mouseenter', 'beaches', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

  map.on('mouseenter', 'snorkeling', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

  map.on('mouseenter', 'sights', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

// Change it back to a pointer when it leaves.
    map.on('mouseleave', 'beaches', function () {
        map.getCanvas().style.cursor = '';
    });

  map.on('mouseleave', 'snorkeling', function () {
        map.getCanvas().style.cursor = '';
    });

  map.on('mouseleave', 'sights', function () {
        map.getCanvas().style.cursor = '';
    });

});


</script>
