<script>
var maxBounds = [[-172.573695, 11.287183], [-143.894929, 29.929583]]; //SW corner, NE corner

mapboxgl.accessToken = 'pk.eyJ1IjoibG9uZWdyYWluZ2VyIiwiYSI6ImNpeWYybzdiejAwMmkyd3A4ajRzZWhxbmkifQ.YGpcRNhIqZtH3Q71a-UVKw';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/lonegrainger/cjgv8hrfl001i2rqhmd7l32qu', // old style 'mapbox://styles/lonegrainger/cjgb8kfhn2idm2rrtq592p5sz',
  {{#map-settings}}
    center: [{{center-coordinates}}], //center coordinates are being pulled from CMS on build
    zoom: {{zoom-level}}, //zoom level being pulled from CMS on build
  {{/map-settings}}
    maxZoom: 17,
    minZoom: 5.25, 
    attributionControl: false, //No Attribution Control icon
    maxBounds: maxBounds //Max Boundary to prevent panning
    });

    // Minimal Attribution Control icon
    //map.addControl( new mapboxgl.AttributionControl({compact: true }));

// Enables fullscreen mode (uncomment the 2 lines below to re-enable)
  //map.addControl(new mapboxgl.FullscreenControl(), 'bottom-right');
  //map.resize();

// This sections adds toggle menu to hide/show layers

var toggleableLayerIds = [ 'beaches', 'snorkeling', 'sights' ];

for (var i = 0; i < toggleableLayerIds.length; i++) {
    var id = toggleableLayerIds[i];

    var link = document.createElement('a');
    link.href = '#';
    link.className = 'active';
    
    var img = new Image();
    img.setAttribute("height", "20px");
    img.setAttribute("width", "20px");
    img.src = "{{root}}assets/img/" + id + ".png";
    link.appendChild(img);
    var id_div = document.createElement("div");
    id_div.textContent = id;
    link.append(id_div);    

    link.onclick = function (e) {
        var clickedLayer = this.textContent;
        e.preventDefault();
        e.stopPropagation();

        var visibility = map.getLayoutProperty(clickedLayer, 'visibility');
        if (visibility === 'visible') {
            map.setLayoutProperty(clickedLayer, 'visibility', 'none');
            this.className = '';
        } else {
            this.className = 'active';
            map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
        }
        this.childNodes[0].classList.toggle("greyscale");
    };

    var layers = document.getElementById('menu');
    layers.appendChild(link);
}

// This sections toggles map options menu

document.getElementById('mapmenu').onclick = function () {
    document.getElementById('menu').classList.toggle("showlayers");
    document.getElementById('mapmenu').classList.toggle("mv");
};

// This sections activates the popup description box
map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: toggleableLayerIds // add the name of the layers
  });
  
  if (!features.length) {
    return;
  }
  
  var feature = features[0];
  
  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h3>' + feature.properties.title + '</h3><img src="{{root}}assets/img/map-popup/' + feature.properties.img + '">' + '<p class="popup-description">' + feature.properties.description + '</p><p><a href="' + feature.properties.link + '">Explore this location</a></p></p>' + feature.properties.ttcool + '</p>')
    .setLngLat(feature.geometry.coordinates)
    .addTo(map);

  //Iterate layer values
  for (var i = 0; i < toggleableLayerIds.length; i++) {

    // Center the map on the coordinates of any clicked symbol from the layer.
    map.on('click', toggleableLayerIds[i], function(e) {
      map.flyTo({
        center: e.features[0].geometry.coordinates
      });
    });

    // Change the cursor to a pointer when the it enters a feature in the layer.
    map.on('mouseenter', toggleableLayerIds[i], function() {
      map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', toggleableLayerIds[i], function() {
      map.getCanvas().style.cursor = '';
    });

  }

});
</script>

<!-- This is supposed to force compact but doesn't seem to work
//TRYING THE TO FORCE COMPACT ALWAYS CHECK ERROR ON LINE 17?
var map = new mapboxgl.Map({attributionControl: true})
.addControl(new mapboxgl.AttributionControl({
    compact: true
}));
-->