<button class="show-map hide-for-medium" type="button" data-toggle="map-canvas-container">
  <div class="show-hide-text">show map</div>
</button>
  <div class="grid-y medium-grid-frame">
    <div class="cell auto body cell-block-container">
      <div class="grid-x">

        <div class="auto cell off-canvas in-canvas-for-medium position-right" id="map-canvas-container" data-off-canvas data-transition="overlap">
          <button type="button" class="hide-map hide-for-medium" data-toggle="map-canvas-container" data-animate="slide-in-right slide-out-right">
            <div class="show-hide-text">hide map</div>
          </button>
          <div id="map">
            <nav id="menu"></nav>
          </div>
        </div>
