<div class="grid-container full">
  <header class="grid-x">
        <div class="small-12 cell nav-container" data-sticky-container>
          <div class="sticky nav-bar" data-sticky data-margin-top="0" data-top-anchor="0" data-sticky-on="small">
            <div id="topbar-max">
              <a href="/"><img class="logo" src="{{root}}assets/img/lithi-logo.png" alt="Life in The Hawaiian Islands"></a>
              {{> mobile-menu}}
              <nav id="main-nav" data-animate="slide-in-down slide-out-up">
                {{> navigation}}
              </nav>
            </div>
          </div>
        </div>
